{{#each products}}

<h3>Producto:{{this.title}}</h3>
<p>Precio:{{this.price}}</p>
<p>Descripcion:{{this.description}}</p>
<p>Stock:{{this.stock}}</p>
<p>Categoría:{{this.category}}</p>
<p>Codigo:{{this.code}}</p>
<p>ID:{{this.id}}</p>

{{/each}}